.DS_Store
**/.DS_Store
.vscode
**/.vscode
.vagrant
.vagrant/**
**/.vagrant
**/.vagrant/**
summary.txt
mycreds.env
Vagrantfile.unicycle
Vagrantfile.car
Vagrantfile.bicycle
Vagrantfile.semi
.cursor
.cursor/**